.contact{
    margin: 10px;
    font-size: 40px;
}
.sp{
    font-size: 17px;
}
.yes{
    background-color: whitesmoke;
    margin: 5px;
}
.col-md-5{
}
.uz{
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

